header {
  height: 60px;
}

header div {
  float: left;
  display: flex;
}

header div a {
  margin: 10px;
}

header div a:hover {
  color: var(--submain-color);
}

header nav {
  float: right;
  font-size: 1.2rem;
  margin: 16px;
}

header nav a {
  padding: 7px 10px 10px 10px;
  width: max-content;
  height: max-content;
  border: 1px solid var(--submain-color-light);
  border-radius: 8px;
}

header nav a:hover {
  border: 1px solid var(--main-color);
}
